Importing required libraries

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

Reading Data and writing it in data variable

In [ ]:
data= pd.read_csv('train.csv')

Loading 5 values

In [ ]:
data.head(5)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

Checking columns and rows

In [ ]:
data.shape

(43818, 28)

Selecting specific data from our data set

In [ ]:
Selected_data = data[['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income']]

In [ ]:
Selected_data.head(4)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12

Selecting Age and converting non numeric values to numeric values

In [ ]:
Selected_data['Age'] = pd.to_numeric(Selected_data['Age'], errors='coerce')

Filling null values with median

In [ ]:
Selected_data.loc[:, 'Age'] = Selected_data['Age'].fillna(Selected_data['Age'].median())
Selected_data.loc[:, 'Annual_Income'] = Selected_data['Annual_Income'].fillna(Selected_data['Annual_Income'].median())
display(Selected_data.head())

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500.0,821-00-0265,Scientist,19114.12
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12

By filling null values with median it gives values for both numpy and pandas function

 Mean value

In [ ]:
Age_mean= np.mean(Selected_data['Age'])
Age_mean

np.float64(103.85706787165093)

median in pandas and numpy

In [ ]:
Age_mean = (Selected_data['Age']).median()
print(Age_mean)

33.0

In [ ]:
Age_mean = np.median(Selected_data['Age'])
print(Age_mean)

33.0

np.median from NumPy returns NaN if there are any NaN values present in the array you are calculating the median for.
The pandas .median() method, on the other hand, is designed to automatically skip or exclude NaN values when calculating the median.

Mode in Stats

In [ ]:
Age_mode = stats.mode(Selected_data['Age'])
print(Age_mode)

ModeResult(mode=np.float64(33.0), count=np.int64(3350))

In [ ]:
Name_mode = Selected_data['Name'].mode()
print(Name_mode)

0    Nate Raymondw
Name: Name, dtype: object

Variance of the Ages using var method in numpy

In [ ]:
data_var= np.var(Selected_data['Age'])
print(data_var)

427249.61919339496

Variance of the Ages using var method in pandas

In [ ]:
data_var= (Selected_data['Age']).var()
print(data_var)

427259.36996636423

Standard Deviation using numpy method

In [ ]:
data_std= np.std(Selected_data['Age'])
print(data_std)

653.6433424990994

Standard Deviation using pandas function

In [ ]:
data_std= (Selected_data['Age']).var()
print(data_std)

427259.36996636423

Range of a dataset using numpy

In [ ]:
data_max = np.max(Selected_data["Age"])
data_min = np.min(Selected_data["Age"])

In [ ]:
data_range = data_max - data_min
data_range

9182.0

Range of datasets using pandas method

In [ ]:
data_max = Selected_data["Age"].max()
data_min = Selected_data["Age"].min()

In [ ]:
data_range = data_max - data_min
data_range

9182.0

Percentaile of datasets using numpy method

In [ ]:
data_percentile = np.percentile(Selected_data["Age"],60)
data_percentile

np.float64(36.0)

In [ ]:
data_percentile = np.percentile(Selected_data["Age"],60)
data_percentile

np.float64(36.0)

Conerting non numeric value into numeric

In [ ]:
Selected_data['Annual_Income'] = pd.to_numeric(Selected_data['Annual_Income'], errors='coerce')

/tmp/ipython-input-305017870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Selected_data['Annual_Income'] = pd.to_numeric(Selected_data['Annual_Income'], errors='coerce')

In [ ]:
data_percentile = np.percentile(Selected_data["Annual_Income"],60)
data_percentile

np.float64(44572.43)

Using Quantile for Annual Income using pandas method

In [ ]:
data_quantile = Selected_data["Annual_Income"].quantile(0.60)
data_quantile

np.float64(44572.43)

Using Quantile for Annual Income using numpy method

In [ ]:
data_quartile = np.quantile(Selected_data["Annual_Income"],0.75)
data_quartile

np.float64(70291.16)

**We get nan when we use numpy and value wahen we use pandas method that is because pandas ignore null values and numpy place nan instead and include it **

Analyse the interquartile range IQR of a dataset

In [ ]:
data_IQR = stats.iqr(Selected_data["Age"], interpolation = 'midpoint')
data_IQR

np.float64(16.0)

In [ ]:
data_IQR = stats.iqr(Selected_data["Annual_Income"], interpolation = 'midpoint')
data_IQR

np.float64(50250.520000000004)